/build/
.vs/
.vscode/
.idea/

# kcl files
.pytest_cache
__pycache__
__kclcache__/
build-result/
dist/
kclvm.egg-info/
.eggs/

# Mac OS X files
.DS_Store

_python37_home_
_site-packages

__kcl_test_main.k

# kclvm bundles
/kclvm-*.zip
/kcl-go*
/_build_dist
.kusion

/venv/

# Coverage
.coverage
.coverage.*
/cover
/scripts/cover

/result

coverage.xml
TEST-kclvm.xml

/go-test-coverprofile.*

# Benchmark
.benchmarks

# Code check
.code_check

/_output

# Lark parser cache
lark_parser.pickle

/vendor
/_build*
/__build*
/_3rdparty

	
# Rust
*.o
*.a
*.so
*.orig
/target
/*/target
/*/*/target
/**/target

/kclvm/vendor
/scripts/docker/kclvm-builder/vendor*
/scripts/docker/kclvm-builder/crates.io-index
/scripts/docker/kclvm-builder-centos7/crates.io-index
/scripts/docker/kclvm-builder-ubuntu/crates.io-index
*.tar.gz

# KCLVM cache and temp output
.kclvm
.kclvm_cov
*.dylib
*.so
*.dll
*.lock
*.ll
*.ll.lock
_a.out.*
_a.out_*.*

# Compiler_base
.compiler_base

# KCL mod lock file
!.mod.lock
