PyYAML==5.4
lark-parser==0.11.3
filelock==3.6.0
yapf==0.29.0
pypeg2==2.15.2
protobuf==3.19.5
schema
ruamel.yaml
toml
numpydoc
pygls==0.10.3
fastapi
uvicorn
gunicorn==20.1.0
parsy==1.3.0
wasmer==1.0.0
wasmer_compiler_cranelift==1.0.0
pyopenssl==21.0.0
