[package]
name = "kcl-language-server"
version = "0.8.3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.19"
indexmap = "1.0"
chumsky = "0.9.0"
env_logger = "0.11.2"
ropey = "1.3.2"
tokio = { version = "1.17.0", features = ["full"] }
tokio-test = "0.4.2"
serde = { version = "1.0", features = ["derive"] }
dashmap = "5.1.0"
log = "0.4.14"
im-rc = "15.0.0"
rustc_lexer = "0.1.0"
clap = "4.3.0"
maplit = "1.0.2"

kclvm-tools = { path = "../../../tools" }
kclvm-error = { path = "../../../error" }
kclvm-config = { path = "../../../config" }
kclvm-driver = { path = "../../../driver" }
kclvm-parser = { path = "../../../parser" }
kclvm-sema = { path = "../../../sema" }
kclvm-ast = { path = "../../../ast" }
kclvm-utils = { path = "../../../utils" }
kclvm-version = { path = "../../../version" }
compiler_base_session = { path = "../../../../compiler_base/session" }
kclvm-query = { path = "../../../query" }
kclvm-span = { path = "../../../span" }

lsp-server = { version = "0.7.0", default-features = false }
anyhow = { version = "1.0", default-features = false, features = ["std"] }
crossbeam-channel = { version = "0.5.7", default-features = false }
ra_ap_vfs = "0.0.149"
ra_ap_vfs-notify = "0.0.149"
lsp-types = { version = "0.93.0", default-features = false }
threadpool = { version = "1.8.1", default-features = false }
salsa = { version = "0.16.1", default-features = false }
serde_json = { version = "1.0", default-features = false }
parking_lot = { version = "0.12.0", default-features = false }
rustc-hash = { version = "1.1.0", default-features = false }
proc_macro_crate = { path = "../../benches/proc_macro_crate" }
