[package]
name = "kclvm-runner"
version = "0.8.3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
cc = "1.0"

[dependencies]
serde_json = "1.0"
serde = { version = "1", features = ["derive"] }
glob = "0.3.0"
walkdir = "2"
libc = "0.2.112"
indexmap = "1.0"
fslock = "0.2.1"
libloading = "0.7.3"
threadpool = "1.0"
chrono = "0.4.19"
tempfile = "3.5.0"
anyhow = "1.0"
once_cell = "1.10"
cc = "1.0"
uuid = "1.7.0"
compiler_base_session = {path = "../../compiler_base/session"}
compiler_base_macros = "0.0.1"

kclvm-ast = {path = "../ast"}
kclvm-parser = {path = "../parser"}
kclvm-compiler = {path = "../compiler"}
kclvm-config = {path = "../config"}
kclvm-runtime = {path = "../runtime"}
kclvm-sema = {path = "../sema"}
kclvm-version = {path = "../version"}
kclvm-error = {path = "../error"}
kclvm-query = {path = "../query"}
kclvm-utils = {path = "../utils"}
kclvm-driver = {path = "../driver"}
kclvm-evaluator = {path = "../evaluator"}

[dev-dependencies]
kclvm-parser = {path = "../parser"}
criterion = "0.3"

[[bench]]
name = "bench_runner"
harness = false
