name: Build and Test on Windows Mingw
on:
  pull_request:
    branches:
     - main
  push:
    branches:
     - main
jobs:
  build-and-test:
    name: build and test on windows mingw
    runs-on: windows-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          submodules: "true"

      - name: Install rust nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.88
          override: true
          components: clippy, rustfmt

      - run: C:\msys64\usr\bin\pacman.exe -S --needed mingw-w64-x86_64-gcc --noconfirm
      - shell: pwsh
        run: echo "C:\msys64\mingw64\bin" >> $Env:GITHUB_PATH

      - run: |
          rustup target add x86_64-pc-windows-gnu
          cargo build -r --target x86_64-pc-windows-gnu

      - name: Read VERSION file
        id: read_version
        run: |
          $pkgId = cargo pkgid -p kcl-api
          $version = ($pkgId -split '@')[1]
          echo "VERSION=v$version" >> $env:GITHUB_ENV

      - uses: actions/upload-artifact@v4
        with:
          name: kcl-${{ env.VERSION }}-windows-mingw
          if-no-files-found: error
          path: |
            target/x86_64-pc-windows-gnu/release/libkcl.a
            target/x86_64-pc-windows-gnu/release/libkcl.dll.a
            target/x86_64-pc-windows-gnu/release/kcl.dll
