name: Build and Test on Windows
on:
  pull_request:
    branches:
     - main
  push:
    branches:
     - main
jobs:
  build-and-test:
    name: build and test on windows
    runs-on: windows-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          submodules: "true"
      
      - name: Install rust nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.88
          override: true
          components: clippy, rustfmt

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.23

      - name: Install KCL
        shell: powershell
        run: |
          go install kcl-lang.io/cli/cmd/kcl@main
          $GoPath = go env GOPATH
          $GoInstallBin = Join-Path $GoPath "bin"
          $Env:PATH += ";$GoInstallBin"
          $Env:PATH += ";${{ github.workspace }}\go\bin"

      - uses: ilammy/msvc-dev-cmd@v1

      - run: clang --version
      - run: cargo --version

      # Build
      - run: .\scripts\build.ps1

      # Set KCL Lib CLI into PATH
      - run: echo ";$(pwd)\scripts\_output\kcl-core" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      # Rust unit test
      - run: cargo test --workspace -r -- --nocapture

      - name: Read VERSION file
        id: read_version
        run: |
          $pkgId = cargo pkgid -p kcl-api
          $version = ($pkgId -split '@')[1]
          echo "VERSION=v$version" >> $env:GITHUB_ENV

      - name: Rename kcl-core-windows folder
        run: |
          $version = "${{ env.VERSION }}"
          Rename-Item -Path ".\scripts\windows\_output\kcl-core-windows" -NewName "kcl-core-$version-windows"

      - uses: actions/upload-artifact@v4
        with:
          name: kcl-core-${{ env.VERSION }}-windows
          if-no-files-found: error
          path: scripts/windows/_output/kcl-core-${{ env.VERSION }}-windows
